<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <springProperty name="ERROR_LOG_APPENDER_NAME" source="app.logging.error-appender-name"/>

  <property name="CONSOLE_LOG_PATTERN"
    value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] [traceId=%X{traceId:-}] %logger{36} - %msg%n"/>

  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>${CONSOLE_LOG_PATTERN}</pattern>
    </encoder>
  </appender>

  <appender name="${ERROR_LOG_APPENDER_NAME}" class="com.epam.jym.crm.actuator.ErrorLogAppender">
    <filter class="ch.qos.logback.classic.filter.LevelFilter">
      <level>ERROR</level>
      <onMatch>ACCEPT</onMatch>
      <onMismatch>DENY</onMismatch>
    </filter>
  </appender>

  <root level="INFO">
    <appender-ref ref="CONSOLE"/>
    <appender-ref ref="${ERROR_LOG_APPENDER_NAME}"/>
  </root>
</configuration>
